html, body {
    height: 100%;
}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

.container {
    margin-top: 5%;
    /*background-color: #1b6d85;*/
}


table, thead, tbody, tr, th, td {
    border: 1px solid black;
    padding: 2%;
}


th, tr, td {
    text-align: center;
    height: 50px;
}

table {
    width: 100%;
}

h1 {
    text-align: center;
}
