/*html, body {*/
    /*height: 100%;*/
/*}*/

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

.container {
    margin-top: 5%;

}

body {
    background-image: url("/moviepic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


table, thead, tbody, tr, th, td {
    border: 1px solid black;
    padding: 2%;
    background-color: #9d9d9d;
}


#movies-table th {
    text-align: center;
    height: 50px;
}

table {
    width: 100%;
}

h1 {
    text-align: center;
}
